
body {
	font-size: 24px;
	font-family: Comic;
	color: #000000;
}

#topTitle {
	font-size: 40px;
	font-family: Tahoma;
	color: red;
	text-align: center;
	border: 1px black;
}

div.item {
	background: #9c9c9c;
	border: 5px;
	border-color: black;


	/* width: 30%;
	float: right;  
	margin: 3px; */
}

div.title {
	background: #52aec9;
	position: relative;
	top: 0px;  /* from top */
	right: 0px; 
	float: right;
	width: 30%;
	border: 1px;
	border-color: black;
}


/* Large Devices */

@media (min-width: 992px) {
	.col-lg-4 {
	float: left;
}
.col-lg-4{
	width: 30%;
}
}

/* Medium Devices */ 
@media (min-width: 769px) and (max-width: 991px) {
	.col-md-6 {
	float: left;
}
.col-md-6 {
	width: 45%;
}
}

/* Small Devices */

@media (max-width: 768) {
	.col-sm-12 {
	float: left;
}
.col-sm-12 {
	width: 90%;
}	
}



