
body {
	font-size: 24px;
	font-family: Comic;
	color: #000000;
}

#topTitle {
	font-size: 40px;
	font-family: Tahoma;
	color: red;
	text-align: center;
}

.item {
	background: #9c9c9c;
	width: 30%;
	float: left;
	margin: 3px;
}

div.title {
	background: yellow;
	border: 10px black;
	position: relative;
	top: 0px;  /* from top */
	left: 0px;
}


/* Large Devices */

@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-4 {
	float: left;
	border: 1px black;
}
.col-lg-1 {
	width: 8.33%;
}
.col-lg-2 {
	width: 16.66%;
}
.col-lg-4{
	width: 33.33%;
}
}

/* Medium Devices */ 
@media (min-width: 769px) and (max-width: 991px) {
	.col-md-6 {
	float: left;
	border: 1px black;
}
.col-md-6 {
	width: 50%;
}

/* Small Devices */

@media (max-width: 768) {
	.col-sm-12 {
		float: left;
		border: 1px black;
	}
.col-sm-12 {
	width: 100%;
}	
}



