body {
	font-size: 24px;
	font-family: Comic;
	font: green;
}

head {
	font-size: 50px;
	font-family: Tahoma;
	font: red;
	text-align: center;
}

.item {
	background: #717174;
	width: 30%;
}

.title {
	background yellow;
	border: 10px;
}